services:
  app:
    build:
      context: .
      dockerfile: Dockerfile-dev
    ports:
      - "8081:8080"
    environment:
      - ENVIRONMENT=dev
      - HTTP_SERVER_ADDRESS=:8080
      - DB_SOURCE=postgresql://postgre:postgre@postgres:5432/dianping?sslmode=disable
      - REDIS_ADDRESS=redis:6379
    volumes:
      - ./:/app  
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

  postgres:
    image: postgres:17-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: postgre
      POSTGRES_PASSWORD: postgre
      POSTGRES_DB: dianping
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgre -d dianping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  pgdata:
